accelerate
Bottleneck
Brotli
certifi
charset-normalizer
contourpy
cycler
diffusers
feos==0.6.1
filelock
fonttools==4.25.0
fsspec
gmpy2
huggingface_hub
idna
importlib-metadata
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
mpmath
munkres==1.1.4
networkx
numexpr
numpy
packaging
pandas
pillow
plotly==5.24.1
psutil
pygame==2.5.2
pyparsing
PySocks
python-dateutil
pytz
PyYAML
regex
requests
safetensors
SciencePlots==2.1.1
scikit-learn
scipy
seaborn==0.13.2
six
sympy
tenacity==9.0.0
threadpoolctl
torch==2.5.0.dev20240903
torchaudio==2.5.0.dev20240903
torchvision==0.20.0.dev20240903
tornado
tqdm
typing_extensions
tzdata
urllib3
zipp
